@import "var";

:root {
  --main-color: hsl(193, 38%, 86%);
  --sub-color: hsl(150, 100%, 66%);

  --grayGraylishBlue-color: hsl(217, 19%, 38%);
  --darkGraylish-color: hsl(217, 19%, 24%);
  --darkBlue: hsl(218, 23%, 16%);
}
.text {
  color: hsl(186, 100%, 75%);
  color: rgba(231, 90, 121, 0.2);
}
body {
  font-family: "Manrope", sans-serif;

  main {
    min-height: 100vh;
    display: grid;
    place-items: center;
    margin: 0;
    font-size: 28px;

    background-color: var(--darkBlue);
    @media only screen and (max-width: 375px) {
      width: 100%;
      height: 100%;
      padding: 1rem;
    }

    .card {
      max-width: 450px;
      box-shadow: var(--darkGraylish-color) 0px 1px 5px;
      background-color: var(--darkGraylish-color);
      border-radius: 12px;
      padding: 1.5rem;
      text-align: center;
      @media only screen and (max-width: 375px) {
        width: 100%;
        height: 100%;
      }

      label {
        color: var(--sub-color);
        font-size: 10px;
        letter-spacing: 5px;
      }
      p {
        min-height: 100px;
        border: 1px solid red;
        margin: 1rem 0;
        color: var(--main-color);
        font-weight: 800;
      }

      .divied {
        margin: 1rem 0;
        display: block;
        border: 1px solid red;
        /* Mobile Styles */
        @media only screen and (max-width: 375px) {
          display: none;
        }
      }
      .mb {
        display: none;
        margin: 1rem 0;

        /* Mobile Styles */
        @media only screen and (max-width: 375px) {
          display: block;
        }
      }

      .icon-btn {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-color: var(--sub-color);
        border: none;
        // padding: 0.5rem;
        img {
          width: 50%;
          display: block;
          margin: auto;
        }
      }
    }
  }
}
// footer
footer {
  font-size: 11px;
  text-align: center;
  padding: 0.5rem;
  a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
  }
}
